services:
  backend:
    build:
      context: ../
      dockerfile: deploy/Dockerfile
    volumes:
      - ../backend:/var/www/html
    depends_on:
      - db
    networks:
      - services

  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: database
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - services

  nginx:
    image: nginx:1.27.5-alpine
    depends_on:
      - backend
    ports:
      - "80:80"
    networks:
      - services
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf

networks:
  services:
    driver: bridge

volumes:
  db-data: